.hero {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 90vh;
  padding: 0 5rem;
  background: var(--gradient-hero);
  background-size: 400% 400%;
  animation: gradientShift 15s ease infinite;
  color: var(--text-default);
  position: relative;
  overflow: hidden;
}
.hero img {
  position: absolute;
  top: 50%;
  left: 50%;
  fill: var(--text-default);
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: .04;
  transform: scale(1);
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.hero::before {
  pointer-events: none;
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("https://www.transparenttextures.com/patterns/brushed-alum.png");
  /* opacity: 0.8; */
  opacity: var(--opacity);
  z-index: 0;
}

.hero-content {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  text-align: left;
  z-index: 1;
}

.tagline {
  font-size: 3.8rem;
  font-weight: 700;
  margin-bottom: 16px;
  font-family: 'Merriweather', Georgia, serif;
  letter-spacing: 0.8px;
  line-height: 1.3;
  color: var(--text-default);
  text-shadow: 1px 1px 4px rgba(0, 31, 60, 0.429);
}

.subtitle {
  text-align: left;
  font-size: 1.2rem;
  color: var(--text-muted);
  margin: 0 0 36px 0;
}

.startwriting {
  display: inline-flex;
  margin: auto;
  margin-left: 0;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.startwriting:hover {
  transform: translateY(-2px);
}

.anim {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 6px;
  background-color: var(--primary-color);
  border-radius: 8px 0 0 8px;
  color: var(--text-default);
}

.cta {
  padding: 12px 12px 12px 0px;
  background: var(--primary-color);
  font-size: 1rem;
  letter-spacing: 0.03em;
  font-weight: 600;
  color: var(--text-default);
  border: none;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  transition: background 0.3s ease;
}

.cta:hover {
  background-color: var(--primary-color-dark);
}

@media (max-width:486px) {
  .hero {
    height: auto;
    padding: 2rem 0.4rem;
  }
  .hero img {
    transform: scale(0.8);
  }

  .tagline {
    /* border: 2px solid red; */
    font-size: 1.8rem;
  }

  .subtitle {
    font-size: 0.8rem;
    margin: 0 0 18px 0;
  }

  .anim {
    display: flex;
    padding: 5px 3px;
  }

  .anim lord-icon {
    display: flex;
    width: 20px;
  }

  .cta {
    font-size: 0.8rem;
  }
}