.navbar {
  border-bottom: 1px solid rgba(81, 81, 81, 0.53);
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 28px;
  background: var(--bacgorund-nav);
  backdrop-filter: blur(16px);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
  /* border: 2px solid red; */
}



.logo {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: bold;
  gap: 0.8rem;
  color: var(--text-default);
}

.logobook {
  display: flex;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.logo path {
  color: var(--text-default);
  border-radius: 0.8rem;
  width: 50px;
}

.nav-links {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.aos-link {
  display: flex;
  text-decoration: none;
  color: var(--text-default);
  font-weight: 500;
  position: relative;
  transition: color 0.3s;
  align-content: center;
  align-items: center;
}

.aos-link span {
  display: none;
  margin-right: 2px;
  font-size: 1.2rem;
}

.aos-link::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: -4px;
  background-color: var(--primary-color);
  transition: width 0.3s ease-in-out;
}

.aos-link:hover::after {
  width: 100%;
  background-color: var(--primary-color);
}

.aos-link.active::after {
  width: 100%;
  background-color: var(--primary-color-dark);
}

.aos-link:hover {
  color: var(--primary-color);
}

.User-login-handle {
  /* border: 2px salmon solid; */
  display: flex;
  align-items: center;
  gap: 10px;
}

.login-btn {
  background: transparent;
  color: var(--text-default);
  padding: 8px 20px;
  /* width: 100px; */
  border: 2px solid var(--primary-color);
  /* border: none; */
  border-radius: 0.6rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-btn:hover {
  background-color: var(--primary-color);
}

.signup-btn {
  background-color: var(--primary-color);
  color: var(--text-default);
  padding: 8px 20px;
  /* width: 100px; */
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.signup-btn:hover {
  background-color: var(--primary-color-dark);
}

.user-actions {
  display: flex;
  align-items: center;
  /* border: 2px solid salmon; */
  gap: 1rem;
}

.user-actions a {
  /* border: 2px solid salmon; */
  text-decoration: none;
  text-align: end;
  margin-right: 0.4rem;
  color: var(--text-default);
}

.user-name {
  font-weight: bold;
  letter-spacing: 0.5px;
}

.user-actions,
.user-actions * {
  pointer-events: auto !important;
  z-index: 999;
}

.user-details-nav {
  /* border: 2px solid salmon; */
  display: flex;
}

[data-aos] {
  opacity: 0;
  transition-property: opacity, transform;
  transition-duration: 1s;
}

.aos-animate {
  opacity: 1;
}

/* Hamburger icon */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  z-index: 1100;
  margin-left: 0.6rem;
  /* border: 2PX SOLID red; */
}

.hamburger span {
  display: block;
  width: 25px;
  height: 0.12rem;
  background: var(--text-default);
  transition: all 0.3s ease;
}

/* Animation when open */
.hamburger.open span:nth-child(1) {
  height: 0.2rem;
  transform: rotate(45deg) translate(6px, 5px);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  height: 0.2rem;
  transform: rotate(-45deg) translate(6px, -6px);
}

/* Small menu overlay */
.small-menu {
  position: absolute;
  align-items: start;
  top: 60px;
  right: 20px;
  background: var(--bacgorund-nav);
  backdrop-filter: blur(12px);
  padding: 1rem;
  border-radius: 0.6rem;
  display: flex;
  flex-direction: column;
  /* justify-content: start; */
  gap: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.small-menu a {
  text-decoration: none;
  color: var(--text-default);
  font-weight: 500;
}

.small-menu a:hover {
  color: var(--primary-color);
}



/* Responsive rules */
@media (max-width: 486px) {
  .logo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0rem;
    font-size: 1.2rem;
  }

}

@media (max-width: 786px) {
  .navbar {
    padding: 0.4rem;
  }
.DarkModetoggle-bigsc{
  display: none;
}
  .logo {
    flex-wrap: wrap;
    gap: 0rem;
    /* font-size: 1.2rem; */
  }

  .logobook {
    display: flex;
    width: 43px;
    height: 40px;
    cursor: pointer;
  }

  .large-screen {
    display: none;
  }


  .user-details-nav {
    display: none;
  }

  .user-details-nav-smallscreen {
    /* text-align: right; */
    display: flex;
  }

  .user-details-nav-smallscreen span {
    /* display: flex; */
    font-size: .8rem;
  }

  .user-details-nav-smallscreen p {
    /* display: flex; */
    font-size: .8rem;
  }

  .hamburger {
    display: flex;
  }

  .User-login-handle {
    gap: 6px;
  }

  .login-btn {
    padding: 0.4rem 0.6rem;
    font-size: 0.7rem;
  }

  .signup-btn {
    padding: 0.4rem 0.6rem;
    font-size: 0.7rem;
  }
}

@media (min-width: 787px) {
  .small-menu {
    display: none;
  }
}