.userprofile-container {
    position: relative;
    height: 100%;
    /* height: 100vh; */
    background: transparent;
    /* background: #ffffff; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.userprofile-card {
    background: #fff;
    padding: 1.5rem;
    min-width: 300px;
    max-width: 340px;
    width: 90%;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
}

.userprofile-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    color: #333;
}

.userprofile-details {
    display: flex;
    gap: 1rem;
    padding-top: 0.2rem;
    padding-right: 0.8rem;
    /* border: 2px solid red; */
    border-bottom: 1px solid #ddd;
    padding-bottom: 0.4rem;
}

.userprofile-details img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ddd;
    /* display: block; */
}


.userprofile-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    flex: 1;
    gap: 0.5rem;
    text-align: right;
}

.userprofile-name h3 {
    margin: 0;
    font-size: 1.2rem;
    color: #333;
}

.userprofile-other-details {
    padding: 0.4rem 0;
    font-size: 0.95rem;
    color: #555;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.userprofile-table {
    overflow-x: auto;
}

.userprofile-table table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 0.4rem;
}

.userprofile-table th{
    background-color: rgba(237, 237, 237, 0.577);
}
.userprofile-table th,
.userprofile-table td {
    padding: 0.6rem;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 0.9rem;
}

.userprofile-footer {
    margin-top: 1.5rem;
    text-align: center;
    font-size: 0.9rem;
    color: #777;
}
