.optionss {
  position: relative;
  /* z-index: 1; */
}

.optionss svg {
  fill: var(--text-heading);
  cursor: pointer;
  outline: none;
}

.optionss svg:hover {
  background: var(--text-light);
  border-radius: 0.3rem;
}

.further_options {
  position: absolute;
  right: 25px;
  top: 0;
  border-radius: 4px;
  padding: 6px;
  background-color: var(--bg-default);
  min-width: 100px;
  box-shadow: 0 2px 8px rgba(2, 2, 2, 0.37);
  z-index: 99;
}

.further_options p {
  width: 100%;
  margin: 0;
  padding: 8px 10px;
  border-radius: 2px;
  color: var(--text-default);
  cursor: pointer;
  font-size: 14px;
  line-height: 1.4;
}

.further_options p:hover {
  background: var(--bg-hover);
}

.further_options p:last-child {
  margin-bottom: 0;
}
