.heart--fill {
  transition: all 0.4s ease;
}

.heart--fill.animate-like {
  fill: red;
  animation: heartbeat 0.4s ease-out;
  transform: scale(1.2);
  opacity: 1;
}

.heart--fill.animate-unlike {
  fill: #d8d8d8;
  transform: scale(1.01);
  opacity: 0.6;
}

.heart-button {
  display: flex;
  background-color: white;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 0px 0px 2px hsla(0, 0%, 10%, 0.08);
  padding: 8px;
  align-items: center;
  justify-content: center;
}

.heart-button:active {
  box-shadow: none;
}

.heart-icon {
  height: 1rem;
  width: 1rem;
  margin-right: 0.25rem;
  stroke: var(--text-muted);
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.heart-icon.animate-like {
  stroke: var(--text-default);
  animation: heartbeat 0.4s ease-out;
  transform: scale(1.2);
}

.heart-icon.animate-unlike {
  transform: scale(1.01);
}

@keyframes heartbeat {
  0% {
    transform: scale(0.9);
  }

  25% {
    transform: scale(1.2);
  }

  50% {
    transform: scale(0.95);
  }

  75% {
    transform: scale(1.05);
  }

  95% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1.2);
  }
}

.bookmark-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
}

.button-icon {
  height: 1.4em;
  width: 1.4em;
  position: relative;
}

.bookmark-icon {
  width: 100%;
  height: 100%;
  transition: fill 0.3s ease, transform 0.2s ease;
}

.animate-bookmark {
  animation: bookmark-pop 0.3s ease-out;
}

@keyframes bookmark-pop {
  0% {
    transform: scale(0.8);
    opacity: 0.6;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}