.theme-toggle-lap-container {
  display: inline-block;
  margin: 0 10px;
  position: relative; /* Enables z-index */
  z-index: 999; /* Stays above normal UI */
}

.theme-lap-selector {
  padding: 6px 10px;
  font-size: 0.95rem;
  border-radius: 6px;
  border: 1px solid var(--primary-color);
  background-color: var(--bg-card);
  color: var(--text-default);
}

.theme-toggle-container {
  position: relative;
}

.theme-toggle-container span {
  cursor: pointer;
}

.theme-options {
  position: absolute;
  top: 2rem;
  background: var(--bg-section, #fff);
  border-radius: 4px;
  padding: 0.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  z-index: 999999; /* Ensures dropdown stays above everything */
}

.theme-optionsdash {
  position: absolute;
  /* border: 2px solid red; */
  top: 2rem;
  right: 1rem;
  background: var(--bg-section, #fff);
  border-radius: 4px;
  padding: 0.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  z-index: 9999; /* Stays on top */
}

.theme-option {
  font-size: 0.8rem;
  font-weight: 500;
  padding: 0.5rem 0.4rem;
  width: 120px;
  cursor: pointer;
}

.theme-option:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.theme-option.active {
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.1);
}
