* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  /* font-family:'Times New Roman', Times, serif; */
  /* font-family:'Courier New', Courier, monospace; */
}

body {
  background-color: var(--bg-default);
}


.bulbb {
  border: 2px solid red;
  position: absolute;
  right: 20px;
  /* z-index: 1000000; */
  pointer-events: auto;
}